* {
    margin: 0;
    border: 0;
}
td {
    max-width: 550px;
}

.clock-face {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #e1bc19;
    border-radius: 50%;
    text-align: center;
}

.clock-numbers {
    position: absolute;
    background-color: #469826;
    border-radius: 50%;
    text-align: center;
}
.clock-electronic {
    position: absolute;
    top: 150px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 2.5em;
}

.clock-arrow-hour {
    position: absolute;
    top:90px;
    left: 245px;
    background-color: #000000;
    width: 10px;
    height: 180px;
    border-radius: 5px;

    transform-origin: 5px 160px;
}

.clock-arrow-min {
    position: absolute;
    top: 70px;
    left: 247px;
    background-color: #761010;
    width: 6px;
    height: 200px;
    border-radius: 3px;
    z-index: 1;

    transform-origin: 3px 180px;
}

.clock-arrow-sec {
    position: absolute;
    top: 40px;
    left: 248px;
    background-color: #d00a0a;
    width: 4px;
    height: 230px;
    border-radius: 2px;
    z-index: 1;

    transform-origin: 2px 210px;
}

.dot {
    position: absolute;
    top: 240px;
    left: 240px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

.button, .info {
    font-size: 2.0em;
}

